<nav class="site-nav">
    <div class="lang">
      <a class="page-link" href="{{ "/" | relative_url }}">EN</a>
      <a class="page-link" href="{{ "/index.zh.html" | relative_url }}">中文</a>
    </div>
  {% assign sorted_pages = site.pages | where_exp: "page", "page.navlevel == 'header'" | sort: "position" %}
  {% for my_page in sorted_pages %}
    {% if my_page.lang == page.lang%}
      <a class="page-link" href="{{ my_page.url | relative_url }}" >{{ my_page.navtitle | default: my_page.title | escape }}</a>
    {% endif %}
  {% endfor %}
</nav>
